---
import TeamCard from "./TeamCard.astro";
import { getTeamMembers } from "@/lib/api/team";

const team = await getTeamMembers();
---

{
    team.length === 0 ? (
        <div class="text-center py-10 text-gray-500">
            <p class="font-bold text-lg">Failed to load team data.</p>
        </div>
    ) : (
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 items-stretch w-full">
            {
                team.map((member) => (
                    <TeamCard member={member} />
                ))
            }
        </div>
    )
}
